* {
  margin: 0;
}
* {
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url('seager.jpg');
  background-repeat:no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: right; /*This provides horizontal alignment to the elements in the header.*/
  align-items: center; /*This centers the elements in the header vertically.*/
}

section {
  display: flex;
  flex-direction: row;
}

aside {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brice-image{
  border-radius: 50%;
}

.straight-up-texas-image{
  border-radius: 50%;
}

.name-of-month {
  display: flex; /*This line and the next are needed to bottom-align the text.*/
  align-items: flex-end;
  height: 96px;
  font-size: 55px;
  color: black;
  text-shadow: 3px 4px 6px rgba(000,000,000,0.4);
}
  
