* {
  margin: 0;
}
* {
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  /*border: 1px solid red;*/
  background-image: url('seager.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

nav {
  display: flex;
  flex-direction: row;
  /*border: 1px solid red;*/
  justify-content: right; /*This provides horizontal alignment to the elements in the header.*/
  align-items: center; /*This centers the elements in the header vertically.*/
}

section {
  display: flex;
  flex-direction: row;
  /*border: 1px solid red;*/
}

aside {
  display: flex;
  flex-direction: column;
  /*border: 1px solid red;*/
}

main {
  display: flex;
  flex-direction: column;
  /*border: 1px solid red;*/
  align-items: center;
}

.brice-image{
  border-radius: 50%;
}

.straight-up-texas-image{
  border-radius: 50%;
}
  
