* {
  margin: 0;
}
* {
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  /*border: 1px solid red;*/
}

nav {
  display: flex;
  flex-direction: row;
  /*border: 1px solid red;*/
}

section {
  display: flex;
  flex-direction: row;
  /*border: 1px solid red;*/
}

aside {
  display: flex;
  flex-direction: column;
  /*border: 1px solid red;*/
}

main {
  display: flex;
  flex-direction: column;
  /*border: 1px solid red;*/
}


  
