*{
  margin: 0;
}
@font-face {
  font-family: MyFont;
  src: url(CowboyOutlaw.otf);
}
body {
  font-family: MyFont;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  "aside nav"
  "aside main"
  "aside footer"  
}
nav {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  height: 6rem;
  top: 0;
  width: 1fr;
  position: sticky;
  /*Sticks to the screen when it reaches its scroll position.*/
  grid-area: nav;
  background-color: lightblue;
  color: black;
  font-size: 55px;
  align-items: center;
}
aside {
  top: 0;
  position:sticky;
  grid-area: aside;
  background-color: green;
  font-size: 18px;
  color:black;
  }
main {
  grid-area: main;
  /*color:black;*/
  /*display: grid;*/
}
footer {
  background-color: green;
  grid-area: footer;
  height: 40px
}
.center-gif-in-sidebar {
  margin: auto;
}
.container {
  /*width: 1fr;*/
  /*overflow-x: auto;*/
  /*white-space: wrap;*/
  margin: auto;
  background-color: lightcyan;
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  grid-template-rows: 25px 75px;
  grid-auto-rows: 75px;
}
.date-heading {
  text-align: center;
  border: 1px solid black;
  font-size: 18px;
  padding: 5px;
}
.opponent-heading {
  text-align: center;
  border: 1px solid black;
  font-size: 18px;
  padding: 5px;
}
.result-heading {
  text-align: center;
  border: 1px solid black;
  font-size: 18px;
  padding: 5px;
}
.recap-heading {
  text-align: center;
  border: 1px solid black;
  font-size: 18px;
  padding: 5px;
}
.date-game {
  text-align: center;
  border: 1px solid black;
  background-color: rgb(156, 210, 147);
  font-size: 18px;
  padding: 5px;
}
.opponent-game {
  text-align: center;
  border: 1px solid black;
  background-color: rgb(156, 210, 147);
  font-size: 18px;
  padding: 5px;
}
.result-game {
  text-align: center;
  border: 1px solid black;
  background-color: rgb(156, 210, 147);
  font-size: 18px;
  padding: 5px;
}
.recap-game {
  text-align: left;
  border: 1px solid black;
  background-color: rgb(156, 210, 147);
  font-size: 18px;
  padding: 5px;
  overflow: scroll;
}
@media (min-width: 800px){
  .container{
    grid-template-rows: 25px 75px;
    grid-auto-rows: 75px;
    /*width: 1fr;
    overflow-x: auto;
    white-space: wrap;
    margin: auto;
    background-color: lightcyan;
    display: grid;
    grid-template-columns: auto auto auto 1fr;
    grid-template-rows: 25px 75px;
    grid-auto-rows: 75px;*/
  }
}

