@font-face {
  font-family: MyFont;
  src: url(CowboyOutlaw.otf);
}
body{
  font-family: MyFont;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 25px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  "sidebar navigationbar"
  "sidebar maintext"
  "sidebar footer"  
}
nav{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 6rem;
  /*1rem equals the font size of the html element, which for most browsers has a default value of 16px. */
  top: 0;
  position: sticky;
  /*Sticks to the screen when it reaches its scroll position.*/
  grid-area: navigationbar;
  background-color: lightcyan;
  color: black;
  font-size: 55px;
  align-items: center;
}
aside{
  height: calc(100vh); /*100vh equals the entire horizontal viewport*/
  top: 0;
  position:sticky;
  align-self: start;
  grid-area: sidebar;
  background-color: lightcyan;
  font-size: 18px;
  color:black;
}
main{
 grid-area: maintext;
}
footer{TEXT
  background-color: lightgrey;
  grid-area: footer;
}