*{
  margin: 0;
}
@font-face {
  font-family: MyFont;
  src: url(CowboyOutlaw.otf);
}
body {
  font-family: MyFont;
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-template-rows: 96px 1fr auto;
  grid-template-areas:
  "sidebar header"
  "sidebar main"
  "sidebar footer"  
}
.title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 96px;
  width: 1fr;
  position: sticky;
  top: 0;
  grid-area: header;
  background-color: lightcyan;
  color: black;
  font-size: 55px;
  align-items: center; /*This is vertical alignment*/
}
.sidebar {
  min-height: 100vh;
  grid-area: sidebar;
  background-color: green;
  font-size: 18px;
  color:black;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  /*position: sticky;
  top: 0*/
}
main {
  grid-area: main;
}
footer {
  background-color: green;
  grid-area: footer;
  height: 20px
}
.pig-in-sidebar {
  height: 100px;
  width: 100px;
  margin: 120px 0 0 20px;
  position: relative;
  right: -50px;
  bottom: -50px;
  /*This ode killed the color on the sidebar. I don't know why.
  position: fixed;
  top: 125px;
  left: 0;
  height: 100px;
  width: 100px;*/
}
.homeplate-in-sidebar {
  position: fixed;
  top: 280px;
  left: 20px;
  height: 75px;
  width: 75px;
}
.container-heading {
  background-color: lightgoldenrodyellow;
  display: grid;
  grid-template-columns: 95px 73px 63px 1fr;
  grid-template-rows: 25px;
  position: sticky;
  top: 96px;
}
.container-body {
  display: grid;
  grid-template-columns: 95px 73px 63px 1fr;
  grid-template-rows: 120px;
  grid-auto-rows: 120px;
}
@media (max-width: 800px){
  .container-body {
    grid-template-columns: 95px 74px 63px 1fr;
    grid-template-rows: 220px;
    grid-auto-rows: 220px;
  }
}
.date-heading {
  text-align: center;
  border: 1px solid black;
  font-size: 18px;
  padding: 5px;
}
.opponent-heading {
  text-align: center;
  border: 1px solid black;
  font-size: 18px;
  padding: 5px;
}
.result-heading {
  text-align: center;
  border: 1px solid black;
  font-size: 18px;
  padding: 5px;
}
.recap-heading {
  text-align: center;
  border: 1px solid black;
  font-size: 18px;
  padding: 5px;
}
.date-game {
  text-align: center;
  border: 1px solid black;
  background-color: rgb(156, 210, 147);
  font-size: 18px;
  padding: 5px;
}
.opponent-game {
  text-align: center;
  border: 1px solid black;
  background-color: rgb(156, 210, 147);
  font-size: 18px;
  padding: 5px;
}
.result-game {
  text-align: center;
  border: 1px solid black;
  background-color: rgb(156, 210, 147);
  font-size: 18px;
  padding: 5px;
}
@media (max-width: 800px){
  .result-game {
    font-size: 14px;
    padding: 6px;
  }
}  
.recap-game {
  text-align: left;
  border: 1px solid black;
  background-color: rgb(156, 210, 147);
  font-size: 18px;
  padding: 5px;
}
