* {
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 125px 1fr;
  grid-template-rows: 96px 1fr auto;
  grid-template-areas:
  "sidebar header"
  "sidebar main"
  "sidebar footer"  
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 96px;
  position: sticky;
  top: 0;
  grid-area: header;
  background-color: rgb(113 143 173);
  color: black;
  font-size: 3.4375em;
  align-items: center;
}

.game-recaps {
  font-size: 0.75em;
  text-shadow:3px 4px 6px rgba(000,000,000,0.4);
}

main {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
  background-color: rgb(113,143,173);
  font-size: 1.125em;
  color:black;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.pig-in-sidebar {
  margin: 120px 0 0 20px;
  position: relative;
  right: 9px;
  bottom: 100px;
  filter: drop-shadow(5px 5px 5px #222);
}

.homeplate-in-sidebar {
  position: fixed;
  top: 175px;
  left: 20px;
  height: 75px;
  width: 75px;
}

.ws-ring-in-sidebar {
  position: relative;
  right: -1200px;
  bottom: -400px;
}

footer {
  background-color: green;
  grid-area: footer;
  height: 20px
}

.container-heading {
  background-color: lightgoldenrodyellow;
  display: grid;
  grid-template-columns: 95px 63px 80px 1fr;
  grid-template-rows: 25px;
  position: sticky;
  top: 96px;
}

.container-body {
  display: grid;
  grid-template-columns: 95px 63px 80px 1fr;
  grid-template-rows: 140px;
  grid-auto-rows: 140px;
}

@media (max-width: 1000px){
  .container-body {
    grid-template-columns: 95px 63px 80px 1fr;
    grid-template-rows: 290px;
    grid-auto-rows: 290px;
  }
}

          .date-heading {
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            border: 1px solid black;
            font-size: 1.125em;
          }
          .opponent-heading {
            text-align: center;
            vertical-align: middle;
            border: 1px solid black;
            font-size: 1.125em;
          }
          .result-heading {
            text-align: center;
            vertical-align: middle;
            border: 1px solid black;
            font-size: 1.125em;
          }
          .recap-heading {
            text-align: center;
            vertical-align: middle;
            border: 1px solid black;
            font-size: 1.125em;
          }

.date-game {
  text-align: center;
  border: 1px solid black;
  background-color: lightcyan;
  font-size: 1em;
  padding: 0.3125em;
}

.opponent-game {
  text-align: center;
  border: 1px solid black;
  background-color: lightcyan;
  font-size: 1em;
  padding: 0.3125em;
}

.result-game {
  text-align: center;
  border: 1px solid black;
  background-color: lightcyan;
  font-size: 1em;
  padding: 0.3125em;
}

@media (max-width: 1000px){
  .result-game {
    font-size: 0.75em;
  }
}

.recap-game {
  text-align: left;
  border: 1px solid black;
  background-color: lightcyan;
  font-size: 1em;
  padding: 0.3125em;
}
