:root{
  --color-1: rgb(113,143,173);
  --text-color: black;
  --accent-color: lightgray;
}

* {
  margin: 0;
}
* {
  padding: 0;
}

html{
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

/* unvisited link*/ /* a provides general styling for links. Below are more specific styles for the pseudo-classes.*/
a:link {
  color: darkblue;
}
/* visited link */
a:visited {
  color: green;
}
/* mouse over link */
a:hover {
  color: red;
}
/* selected link */
a:active {
  color: darkblue;
}
/*-----------------------------------------------Aside-------------------------------------------*/
aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(113,143,173);
  min-height: 100%;
  position: relative;
  width: 200px;
}

.bubble {
  position: relative;
  top: 125px;
  left: 225px;
  font-size: 18px;
  line-height: 24px;
  width: 300px;
  background: var(--accent-color);
  border-radius: 40px;
  padding: 4px;
  text-align: center;
  filter: drop-shadow(5px 5px 5px #222);
}

.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  left: 32px;
  bottom: -24px;
  border-left: 24px solid lightgray;
  border-right: 12px solid transparent;
  border-top: 12px solid lightgray;
  border-bottom: 20px solid transparent;
}

#big-head-image {
  position: relative;
  top: 0px;
  left: 0px;
  /*z-index: 3;*/
  filter: drop-shadow(5px 5px 5px #222);
}

.input-box {
  background-color: lightgoldenrodyellow;
  width: 132px;
}

.clear-button, .find-button {
  background-color: lightgoldenrodyellow;
  width: 58px;
}

#paragraph-in-sidebar{ 
  position: relative;
  left: 5px;
  margin-top: 20px;
}

#standings{  
  position:relative;
}

#ws-ring-in-sidebar { 
  position: relative;
  margin-top: 20px;
  filter: drop-shadow(5px 5px 5px #222);
}

#nolan-in-sidebar {
  position: relative;
  margin-top: 30px;
  filter: drop-shadow(5px 5px 5px #222);
}

#rangers-logo {
  position: relative;
  margin-top: 45px;
}
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^Aside^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
/*---------------------------------------------------Nav------------------------------------------------*/
nav {
  min-height: 60px;
  background-color: var(--color-1);
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  position: fixed;   /*Fixed positioning is always relative to the viewport, not the page. */
  top: 0;            /*I needed fixed positioning to force the header all the way across my phone screen*/
  left: 0;
  right: 0;
  z-index: 2;
}

nav a{ /*The space is a descendant combinator: styling all anchors that are a descendant of the nav element*/
  height: 100%;  /* > is the child combinator.*/
  padding: 0 20px;  /* ~ is the general (not necessarily adjacent) sibling combinator*/
  display: flex;   /*+ is the adjacent sibling combinator*/
  align-items: center;
  text-decoration: none; /*To remove any underline*/
}

.links-container {
  height: 100%; /*I don't know why this container doesn't fill the full height of the nav element*/
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

#brice, #dlls-podcast-image, #straight-up-texas-image {
  border-radius: 50%;
  margin-right: 5px;
}

.podcast-link {
  border: 3px solid black;
  width: 150px;
  height: 40px;
  background-color: white;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  margin-right: 30px;
  border-radius: 10px;
  box-shadow: 3px 3px;
}

#mother-pig-in-nav {
  padding-right: 1em;
  filter: drop-shadow(5px 5px 5px #222);
}

.open-sidebar-button, .close-sidebar-button {
  display: none;
}

#sidebar-active {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url('seager.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  max-width: 100vw;
}

.five-week-month, .two-week-month, .six-week-month {
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 1000px;
  height: 700px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1; /*This centers child elements horizontally. Not sure why it is required given align-items: center*/
}

.name-of-month {
  display: flex; /*This line and the next are needed to bottom-align the text.*/
  align-items: flex-end;
  height: 90px;
  font-size: 3.4375em;
  text-shadow: 3px 4px 6px rgba(000,000,000,0.4);
}

.placeholder {
  width: 125px;
  height: 125px;
}

section {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  height: 100%;
  max-width: 100vw;
  position: relative;
  top: 60px;
}

.six-week-month {
  height: 800px;
}

#title {
  font-size:3.4375em;
  text-shadow:3px 4px 6px rgba(000,000,000,0.4);
  height: 64px;
  padding-top: 50px;
}

.two-week-month {
  height: 280px;
}

.mar27, .mar28, .mar29, .mar30, .mar31, .apr1, .apr2, .apr3, .apr4, .apr5, .apr6, .apr7, .apr8, .apr9, .apr10, .apr11, .apr12, .apr13, .apr14, .apr15, .apr16, .apr17, .apr18, .apr19, .apr20, .apr21, .apr22, .apr23, .apr24, .apr25, .apr26, .apr27, .apr28, .apr29, .apr30, .may1, .may2, .may3, .may4, .may5, .may6, .may7, .may8, .may9, .may10, .may11, .may12, .may13, .may14, .may15, .may16, .may17, .may18, .may19, .may20, .may21, .may22, .may23, .may24, .may25, .may26, .may27, .may28, .may29, .may30, .may31, .jun1, .jun2, .jun3, .jun4, .jun5, .jun6, .jun7, .jun8, .jun9, .jun10, .jun11, .jun12, .jun13, .jun14, .jun15, .jun16, .jun17, .jun18, .jun19, .jun20, .jun21, .jun22, .jun23, .jun24, .jun25, .jun26, .jun27, .jun28, .jun29, .jun30, .jul1, .jul2, .jul3, .jul4, .jul5, .jul6, .jul7, .jul8, .jul9, .jul10, .jul11, .jul12, .jul13, .jul14, .jul15, .jul16, .jul17, .jul18, .jul19, .jul20, .jul21, .jul22, .jul23, .jul24, .jul25, .jul26, .jul27, .jul28, .jul29, .jul30, .jul31, .aug1, .aug2, .aug3, .aug4, .aug5, .aug6, .aug7, .aug8, .aug9, .aug10, .aug11, .aug12, .aug13, .aug14, .aug15, .aug16, .aug17, .aug18, .aug19, .aug20, .aug21, .aug22, .aug23, .aug24, .aug25, .aug26, .aug27, .aug28, .aug29, .aug30, .aug31, .sep1, .sep2, .sep3, .sep4, .sep5, .sep6, .sep7, .sep8, .sep9, .sep10, .sep11, .sep12, .sep13, .sep14, .sep15, .sep16, .sep17, .sep18, .sep19, .sep20, .sep21, .sep22, .sep23, .sep24, .sep25, .sep26, .sep27, .sep28 {
  width: 125px;
  height: 125px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px;
}

.day {
  
}

.date {
  font-size: 2em;
}

.opp {

}

.score {

}

.recap {

}

/* -------------------------------Media queries follow---------------------------------------------------*/

@media (max-width: 400px){
  #brice {
    margin-top: 50px;
    margin-left: 20px;
  }
  #dlls-podcast-image {
    margin-left: 20px;
  }
  .links-container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;
    background-color: var(--accent-color);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.5s ease-out;
  }
  #mother-pig-in-nav {
    display: none;
  }
  nav a {
    box-sizing: border-box; /*Includes the padding and border in an element's total width and height.*/
    height: auto;
    width: 100%;
    padding: 30px;
    z-index: 3;
  }
  .open-sidebar-button, .close-sidebar-button {
    display: block;
  }
  #podcast-link {
    position:relative;
    left: 80px;
    top: -50px;
  }
  #sidebar-active {
    display: none;
  }
  
  #sidebar-active:checked ~ .links-container {
    display: flex;
    right: 0;
  }
  #sidebar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
  #straight-up-texas-image {
    border-radius: 50%;
    margin-left: 20px;
  }
}

@media (max-width: 800px){
  #title {
    font-size: 2.75em;  
    text-shadow:3px 4px 6px rgba(000,000,000,0.4);  
  }
}